@media only screen and (max-width: 600px) {
    body {
      background-color: aqua;
      font-family: 'Poppins', sans-serif;
      padding: 10px;
    }
    h1{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 30px;
      
    }
    h1>img{
      margin-right: 10px;
    }

p{
  text-align: center;
  
}

/*---------------darkmode btn--------------------*/

.input {
  visibility: hidden;
}

.label {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: lightgray;
  border-radius: 20px;
  cursor: pointer;
}

.circle {
  width: 34px;
  background-color: white;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
  background-color: lightgray;
}

.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
  background-color: black;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

/*--------------FLOWBITE TAILWIND-----------------*/
    .grid-cols-5 {
      grid-template-columns: repeat(3,minmax(0,1fr));
  }
  .grid-cols-3{
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
  .bg-blue-600 , .bg-blue-700 {
    background-color: aqua;
  }
  .bg-blue-600:hover , .bg-blue-700:hover {
    background-color: aqua;
  }
  .group:hover .group-hover\:text-blue-600{
    color: rgb(17, 17, 25);
  }
  .text-gray-500{
    color: aqua;
  }
  .text-2xl{
    font-size: 20px;
  }
  .bg-aqua{
    background-color: aqua;
  }
  .gap-6{
    padding: 20px;
    gap: 1rem;
  }
  .color{
    display: flex;
    justify-content: space-between;
  }

  .positionBtn{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .borderDotted{
    height: 35em;
  }
  }